        
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .navbar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 40px;
            background-color: #000000;
            flex-wrap: wrap;
            margin: 0 auto;
            max-width: 990px;
            
        }

        .logo {
            text-decoration: none;
            margin-right: 40px;
            color: var(--Primary, #26BB74);
            font-family: "Plus Jakarta Sans";
            font-size: 25px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            right: 20px;
        }

        .nav-links {
            display: flex;
            gap: 55px;
            align-items: center;
            flex-grow: 1;
            justify-content: flex-start;
        }

        .nav-links a {
            text-decoration: none;
            position: relative;
            padding: 5px 10px;
            color: var(--White, #FFF);
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .get-started {
            background: var(--Primary, #26BB74);
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            margin-left: auto;
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            color: var(--White, #FFF);
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal; 
            font-weight: 600; 
            line-height: normal;
        }

        .get-started::before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.2);
            transform: skewX(-45deg);
            transition: left 0.3s ease;
        }

        .get-started:hover {
            transform: scale(1.1);
            box-shadow: 0 4px 15px rgba(0, 255, 0, 0.5);
        }

        .get-started:hover::before {
            left: 100%;
        }

        .nav-links a:hover {
            color: #4CAF50;
        }

        .nav-links a::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color:#26BB74 ;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        .nav-links a:hover::after {
            transform: scaleX(1);
        }

        .menu-toggle {
            display: none;
            color: white;
            font-size: 24px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .menu-toggle.active {
            transform: rotate(90deg);
        }

        .right-section {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-left: auto;
        }

        @media screen and (max-width: 768px) {
            .navbar {
                justify-content: space-between;
            }

            .nav-links {
                display: none;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                position: absolute;
                top: 80px;
                left: 0;
                background-color: #000000;
                padding: 20px;
            }

            .nav-links.active {
                display: flex;
            }

            .menu-toggle {
                display: block;
            }

            .right-section {
                gap: 10px;
            }

            .get-started {
                padding: 8px 15px;
                font-size: 14px;
            }
        }

        /*--------------------------------*/
        body {
            margin: 0;
            padding: 0;
            font-family: 'Inter', sans-serif;
            color: #ffffff;
            min-height: 100vh;
            padding: 40px;
        }

        .started-container {
            max-width: 990px;
            margin: 0 auto;
            background-color: #000000;
            padding: 40px;
        }

        .started-badge {
            display: inline-block;
            margin-bottom: 20px;
            color: var(--Black, #000);
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            padding: 10px 18px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 30px;
            background: var(--White, #FFF);
            width: 190px;
        }

        h1 {
            margin: 0;
            margin-bottom: 20px;
            color: var(--White, #FFF);
            font-family: "Plus Jakarta Sans";
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p {
            margin-bottom: 30px;
            color: var(--Gray, #C0C0C0);
            font-family: 'Inter';
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; 
        }

        .email-form {
            display: flex;
            gap: 10px;
            margin-bottom: 30px;
        }

        input[type="email"] {
            padding: 12px 16px;
            border-radius: 8px;
            border: none;
            flex-grow: 1;
            display: flex;
            font-size: 16px;
            color: #6C757D;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 363px;
        }

        .start-button {
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            padding: 15px 28px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
            background: var(--Primary, #26BB74);
            font-family: 'Inter';
            font-style: normal;
            line-height: normal;
        }

        .image-container {
            width: 100%;
            height: 400px;
            overflow: hidden;
            border-radius: 12px;
        }

        .image-container img {
            width: 950px;
            height: 100%;
            object-fit: cover;
        }

        /*--------------------------------*/
        .wrapper {
            max-width: 1070px;
            margin: 40px auto;
            padding: 40px;
        }
        .section-header {
            margin-bottom: 10px;
            color: var(--Primary, #26BB74);
            font-family: 'Inter';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .section-title {
            margin-bottom: 30px;
            width: 500px;
            color: var(--Black, #000);
            font-family: "Plus Jakarta Sans";
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
        }
        .card {
            box-shadow: 0 2px 4px rgba(0,0,0,0.05);
            text-align: left;
            display: flex;
            padding: 25px 35px 30px 32px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
            border: 1px solid var(--Light-Gray, #DFE1E7);
            background: var(--Light, #F8F9FB);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .card-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #26BB74;
            margin-bottom: 15px;
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            position: relative;
            top: 15px;
        }
        .card-icon i {
            font-size: 20px;
        }
        .card-title {
            margin-bottom: 10px;
            width: 242px;
            color: var(--Black, #000);
            font-family: "Plus Jakarta Sans";
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .card-description {
            width: 303px;
            color: var(--Light-Dark, #6C757D);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400 ;
            line-height: 24px; 
        }
        
        @media (max-width: 768px) {
            .wrapper {
                width: 95%;
                margin: 20px auto;
            }
            .section-title {
                font-size: 24px;
            }
            .card-grid {
                grid-template-columns: 1fr;
            }
        }
        
        @media (max-width: 480px) {
            .section-header {
                font-size: 14px;
            }
            .section-title {
                font-size: 20px;
            }
            .card {
                padding: 15px;
                width: 400px;
            }
            .card-title {
                font-size: 16px;
                width: 350px;
            }
            .card-description {
                font-size: 13px;
            }
        }